<h1>Здравствуйте, <%= User.find(current_user.id).username %>!</h1>
<script src="https://d3js.org/d3.v4.min.js"></script>

<%= form_tag main_result_url, method: 'post', remote: true do %>
    <table>
        <tr>
            <td><%= label_tag("Введите функцию:") %></td>
            <td><%= text_field_tag :func_string, nil, :required => true %></td>
        </tr>
        <tr>
            <td><%= label_tag("ось X: от") %></td>
            <td><%= number_field_tag :lower_x, '-10', step: :any, :required => true %></td>
            <td><%= label_tag("до") %></td>
            <td><%= number_field_tag :upper_x, '10', step: :any, :required => true %></td>
        </tr>
        <tr>
            <td><%= submit_tag("Посчитать", :id => 'button') %>
        </tr>
    </table>
<% end %>

<%= link_to 'Выйти', session_logout_url %><br/>

<p id="notice"><%= notice %></p>
<div id="result">
    <% if @tables %>
        <h2>Все построенные функции:</h2>
        <table>
            <thead>
                <tr>
                    <th>Функция</th>
                    <th>от</th>
                    <th>до</th>
                </tr>
            </thead>

            <tbody>
                <% @tables.each do |table| %>
                    <tr>
                        <td><%= table.func %></td>
                        <td><%= table.lower_x %></td>
                        <td><%= table.upper_x %></td>
                        <td><%= link_to 'Destroy', table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <p>Не найдено ни одной функции.</p>
    <% end %>
</div><br/>
<div id="log"></div><br/>
<svg width="500" height="400"></svg>

<%= javascript_pack_tag 'main' %>
